@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
		to bottom,
		transparent,
		rgb(var(--background-end-rgb))
	) rgb(var(--background-start-rgb));
	font-family: 'Open Sans', sans-serif;
}

.card-manga {
	overflow: hidden;
	border-radius: 5px;
}

.card-manga-title {
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	opacity: 0;
	text-align: center;
	transform: translateY(15px);
	background-color: rgba(0, 0, 0, .75);
}

.card-manga:hover .card-manga-title {
	opacity: 1;
	transform: translateY(0);
}

.card-image {
	filter: blur(10px);
	background-position: 0 25%;
	background-repeat: no-repeat;
	background-size: 100%;
	transform: scale(1.1);
	opacity: 0.4;
}

.radius {
	border-radius: 5px;
}

.radius-100 {
	border-radius: 100%;
}

.rotate {
	transition: transform .25s;
}

.rotate-180 {
	transform: rotate(180deg);
}

.animate-indeterminate {
	animation: indeterminate 3s infinite cubic-bezier(0.39, 0.575, 0.565, 1)
}

@keyframes indeterminate {
	0% {
		left: -100%;
	}
	100% {
		left: 100%;
	}
}
